@use "../Colors.scss" as Colors;
@use "../Variables.scss" as Vars;
@use "../Mixins.scss" as Mixins;

footer {
    background: linear-gradient(
        to bottom,
        Colors.$primary-five,
        Colors.$accent-four
    );

    @include Mixins.display-flex(row, center);

    .contact {
        padding: Vars.$spacing-medium;
        flex-grow: 1;

        @include Mixins.display-flex(column, flex-start, flex-start);
        gap: Vars.$spacing-medium;

        background: linear-gradient(
            to bottom,
            Colors.$primary-five,
            Colors.$accent-three
        );

        @include Mixins.breakpoint-mobile {
            @include Mixins.display-flex(row, center);
        }

        a {
            font-size: Vars.$font-size-medium;
            text-decoration: none;
            padding: Vars.$spacing-small;
            color: white;

            @include Mixins.hover-effect(
                Colors.$primary-one,
                Colors.$accent-one,
                Colors.$primary-one,
                Colors.$primary-one,
                90%,
                1,
                0px,
                10px
            );
            @include Mixins.breakpoint-mobile {
                @include Mixins.hover-effect(
                    Colors.$primary-one,
                    Colors.$accent-one,
                    Colors.$primary-one,
                    Colors.$primary-one
                );
            }

            @include Mixins.breakpoint-desktop-large {
                font-size: Vars.$font-size-large;
            }
        }
    }
}
