@use "../Colors.scss" as Colors;
@use "../Variables.scss" as Vars;
@use "../Mixins.scss" as Mixins;

header {
    background: linear-gradient(
        to top,
        Colors.$primary-five,
        Colors.$accent-three
    );

    @include Mixins.display-flex(column, flex-start, center);
    text-align: center;

    .__title {
        @include Mixins.position(relative);

        padding: Vars.$spacing-medium;
        margin: 0;
        font-size: Vars.$font-size-large;
        background: linear-gradient(
            to top,
            Colors.$accent-two,
            Colors.$primary-one
        );
        background-blend-mode: lighten;
        background-clip: text;
        color: transparent;
        transition: 200ms ease;

        &:hover {
            cursor: pointer;
            filter: brightness(120%);
            transform: translateY(-4px);
            &::after {
                width: 100%;
                left: 0%;
            }
        }

        &::after {
            @include Mixins.position(absolute, none, 50%, 20px, none);
            content: " ";
            width: 0%;
            height: 2px;
            background-color: Colors.$accent-one;
            transition: 200ms ease;
            opacity: 0;
            @include Mixins.breakpoint-mobile {
                opacity: 1;
            }
        }
    }
}
