@use "../Colors.scss" as Colors;
@use "../Mixins.scss" as Mixins;
@use "../Variables.scss" as Vars;

.movie-browser {
    padding: Vars.$spacing-medium;
    flex-grow: 1;

    @include Mixins.display-flex(column, flex-start, center);
    gap: Vars.$spacing-medium;

    min-height: 80vh;

    .__no-result {
        @include Mixins.display-flex(column, center, center);
        flex-grow: 1;
        color: white;
    }

    .__loader {
        --speed: 3000ms;
        margin-top: 100px;

        @include Mixins.spinner(
            100px,
            5px,
            var(--speed),
            Colors.$accent-two,
            rgba(#fff, 0)
        );

        &::after {
            content: " ";
            @include Mixins.position(absolute);
            @include Mixins.spinner(
                90px,
                5px,
                var(--speed),
                Colors.$accent-two,
                rgba(#fff, 0)
            );
        }
        &::before {
            content: " ";
            @include Mixins.position(absolute);
            @include Mixins.spinner(
                80px,
                5px,
                calc(var(--speed) / 2),
                Colors.$accent-two,
                rgba(#fff, 0)
            );
        }
    }
    .__total-result {
        @include Mixins.position(relative);
        color: white;
        font-size: Vars.$font-size-small;
        text-shadow: 0px 0px 5px white;
    }
    .__scroll-top-button {
        font-size: Vars.$font-size-large;
        text-decoration: none;
        color: Colors.$primary-one;
        text-shadow: 0px 0px 10px 10px white;

        @include Mixins.display-flex(row, center, center);

        height: 70px;
        width: 70px;
        border-radius: 50%;

        span {
            padding-bottom: 6px;
        }

        @include Mixins.hover-effect();

        @include Mixins.breakpoint-tablet {
            display: none;
        }
    }
}
