@use "../Colors.scss" as Colors;
@use "../Variables.scss" as Vars;
@use "../Mixins.scss" as Mixins;
main {
    padding: Vars.$spacing-medium;
    flex-grow: 1;
    // background: linear-gradient(
    //     to bottom,
    //     Colors.$primary-five,
    //     Colors.$accent-four,
    //     Colors.$primary-five
    // );

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: Vars.$spacing-medium;

    .search-bar {
        @include Mixins.search-bar(100%);

        @include Mixins.breakpoint-mobile {
            width: 80%;
        }
        @include Mixins.breakpoint-tablet {
            width: 40%;
        }
    }

    .movies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: Vars.$spacing-medium;

        @include Mixins.breakpoint-mobile {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
