@use "../Colors.scss" as Colors;
@use "../Mixins.scss" as Mixins;
@use "../Variables.scss" as Vars;
.media-card {
    max-width: 100%;
    min-width: 0px;
    background: linear-gradient(
        to bottom,
        Colors.$accent-two,
        Colors.$primary-four
    );

    @include Mixins.movie();

    @include Mixins.breakpoint-mobile {
        --poster-width: 40vw;
    }
    @include Mixins.breakpoint-tablet {
        --poster-width: 14vw;
    }
}
