@use "../Colors.scss" as Colors;
@use "../Variables.scss" as Vars;
@use "../Mixins.scss" as Mixins;

.movies-container {
    @include Mixins.display-flex(column, flex-start, center);
    gap: Vars.$spacing-medium;
    flex-grow: 1;

    @include Mixins.breakpoint-mobile {
        @include Mixins.display-flex(row, center, flex-start);
        flex-wrap: wrap;
    }

    @include Mixins.breakpoint-tablet {
        width: 80%;
    }

    @include Mixins.breakpoint-desktop {
        width: 80%;
    }
}
