@use "../Colors.scss" as Colors;
@use "../Mixins.scss" as Mixins;
@use "../Variables.scss" as Vars;
.movie {
    --movie-height: 400px;
    --movie-padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: Vars.$border-radius-small;
    padding: var(--movie-padding);
    width: 100%;
    transition: 200ms ease;
    background: linear-gradient(
        to bottom,
        Colors.$accent-two,
        Colors.$primary-three
    );

    &:hover {
        filter: brightness(120%);
        cursor: pointer;
        transform: scale(1.03) translateY(-2px);
    }

    .__poster {
        width: 100%;
        display: flex;
        place-items: center;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            object-position: center;
        }
    }

    @include Mixins.breakpoint-mobile {
        width: 32%;
    }
    @include Mixins.breakpoint-tablet {
        width: 19%;
    }
}
