@use "../Colors.scss" as Colors;
@use "../Variables.scss" as Vars;
@use "../Mixins.scss" as Mixins;

.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: Vars.$spacing-medium;
    flex-grow: 1;

    @include Mixins.breakpoint-mobile {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    @include Mixins.breakpoint-tablet {
        width: 80%;
    }

    @include Mixins.breakpoint-desktop {
        width: 80%;
    }
}
