@use "../Colors.scss" as Colors;
@use "../Variables.scss" as Vars;
@use "../Mixins.scss" as Mixins;
main {
    padding: Vars.$spacing-medium;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: Vars.$spacing-medium;

    .movies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: Vars.$spacing-medium;
        min-height: 80vh;

        @include Mixins.breakpoint-mobile {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
