@use "../Colors.scss" as Colors;
@use "../Mixins.scss" as Mixins;
@use "../Variables.scss" as Vars;

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include Mixins.breakpoint-tablet {
        display: none;
    }

    .menu-btn {
        z-index: 98;
        position: fixed;
        top: 5px;
        left: 5px;

        @include Mixins.button-square(50px);

        @include Mixins.breakpoint-mobile {
            @include Mixins.button-square(100px);
        }
    }

    .menu {
        z-index: 99;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(
            to bottom,
            Colors.$primary-five,
            Colors.$accent-four,
            Colors.$primary-five
        );

        display: flex;
        flex-direction: row;
        transition: 500ms ease;

        .__links {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .__buttons {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                padding-right: Vars.$spacing-medium;
                @include Mixins.breakpoint-tablet {
                    display: none;
                }

                .menu-title {
                    font-size: Vars.$font-size-large;
                    color: white;
                }

                .menu-btn-close {
                    position: relative;
                    @include Mixins.button-square(50px, 5px);
                    @include Mixins.breakpoint-mobile {
                        @include Mixins.button-square(100px, 10px);
                    }
                }
            }

            a {
                padding: Vars.$spacing-small;
                font-size: Vars.$font-size-medium;
                text-align: center;
                text-decoration: none;
                color: white;
                background: linear-gradient(
                    to bottom,
                    Colors.$accent-three,
                    Colors.$accent-four
                );
                transition: 200ms ease;

                &:hover {
                    filter: brightness(120%);
                    transform: translateY(-4px);
                }
            }
        }
    }

    .open {
        transform: translateX(0%);
    }
    .closed {
        transform: translateX(-110%);
    }
}
