@use "../Colors.scss" as Colors;
@use "../Mixins.scss" as Mixins;
@use "../Variables.scss" as Vars;

.mobile-nav {
    @include Mixins.position(fixed, 0, 0);
    z-index: 100;
    @include Mixins.breakpoint-tablet {
        display: none;
    }

    .menu-btn {
        z-index: 98;
        @include Mixins.position(fixed, 5px, 5px);
        @include Mixins.button-square(50px);
        @include Mixins.breakpoint-mobile {
            @include Mixins.button-square(100px);
        }
    }

    .menu {
        --slide-speed: 700ms;

        z-index: 99;
        @include Mixins.position(absolute);
        width: 100vw;
        height: 100vh;
        background: linear-gradient(
            to bottom,
            Colors.$primary-five,
            Colors.$accent-four,
            Colors.$primary-five
        );

        @include Mixins.display-flex();
        transition: var(--slide-speed) ease;

        &.open {
            transform: translateX(0%);
        }
        &.closed {
            transform: translateX(-110%);
            border-bottom-right-radius: 500px;
            border-top-right-radius: 500px;
        }

        .__links {
            @include Mixins.display-flex(column);
            flex-grow: 1;
            transition: var(--slide-speed) ease;

            &.fade-in {
                opacity: 1;
                .__top > .menu-title::after {
                    width: 110%;
                }
            }
            &.fade-out {
                opacity: 0;
                transform: translateY(-20px);
            }

            .__top {
                @include Mixins.display-flex(
                    row-reverse,
                    space-between,
                    center
                );
                align-items: center;
                padding-right: Vars.$spacing-medium;

                .menu-title {
                    @include Mixins.position(relative);

                    font-size: Vars.$font-size-large;
                    color: white;
                    padding-right: Vars.$spacing-medium;

                    &::after {
                        @include Mixins.position(
                            absolute,
                            none,
                            none,
                            0.1em,
                            0px
                        );

                        content: "";
                        transition: calc(var(--slide-speed) * 1.1) ease;
                        width: 0%;
                        height: 3px;
                        background-color: white;
                        box-shadow: 0px 0px 5px 0px white;
                    }
                }

                .close {
                    @include Mixins.position(relative);
                    @include Mixins.button-square(50px, 5px);
                    @include Mixins.breakpoint-mobile {
                        @include Mixins.button-square(100px, 10px);
                    }
                }
            }

            .menu-link {
                padding: Vars.$spacing-small;
                font-size: Vars.$font-size-medium;

                text-decoration: none;
                color: white;
                background: linear-gradient(
                    to bottom,
                    Colors.$accent-three,
                    Colors.$accent-four
                );

                @include Mixins.hover-effect(white, white, white, white, 20%);
            }
        }
    }
}
