@use "../Colors.scss" as Colors;
@use "../Mixins.scss" as Mixins;
@use "../Variables.scss" as Vars;

main {
    flex-grow: 1;
    background: linear-gradient(
        to bottom,
        Colors.$primary-five,
        Colors.$primary-five
    );
    padding: Vars.$spacing-small;

    @include Mixins.display-flex(column, flex-start, center);

    .not-found {
        text-align: center;
        flex-grow: 1;
        margin: Vars.$spacing-large;
        width: 100%;
        border-radius: Vars.$border-radius-medium;
        background: linear-gradient(
            to bottom,
            Colors.$accent-one,
            Colors.$primary-one
        );

        @include Mixins.display-flex(column, flex-start, center);

        .__go-back {
            @include Mixins.button-square(
                50px,
                0px,
                white,
                Colors.$accent-three
            );
        }
    }
}
