@use "../Mixins.scss" as Mixins;
@use "../Variables.scss" as Vars;

.search-bar {
    align-self: center;
    z-index: 3;
    transition: 500ms ease;

    @include Mixins.display-flex(row, flex-end);
    @include Mixins.position(sticky, 10px);
    @include Mixins.search-bar();

    button {
        width: 50px;
        i {
            font-size: Vars.$font-size-small;
        }
    }

    &.is-pinned {
        width: calc(100% - 100px);
    }

    @include Mixins.breakpoint-mobile {
        input {
            font-size: Vars.$font-size-medium;
        }
        &.is-pinned {
            width: calc(100% - 180px);
            top: 28px;
        }
    }
    @include Mixins.breakpoint-tablet {
        align-self: center;
        width: 30%;
        input {
            font-size: Vars.$font-size-small;
        }

        &.is-pinned {
            top: 8px;
            width: 30%;
            transform: translateX(calc(49vw - 50%));
        }
    }
    @include Mixins.breakpoint-desktop {
        &.is-pinned {
            top: 5px;
        }
    }
    @include Mixins.breakpoint-desktop-large {
        input {
            font-size: Vars.$font-size-medium;
        }
        button {
            width: 100px;
            i {
                font-size: Vars.$font-size-medium;
            }
        }
        &.is-pinned {
            top: 9px;
        }
    }
}
