// ################## Colors.scss ##################
$primary-one: hsl(0, 0%, 100%);
$primary-two: hsl(0, 0%, 75%);
$primary-three: hsl(0, 0%, 50%);
$primary-four: hsl(0, 0%, 25%);
$primary-five: hsl(0, 0%, 0%);
