@use "./Variables.scss" as Vars;
@use "./Mixins.scss" as Mixins;

*,
*::after,
*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    @include Mixins.display-flex(column);

    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Vars.$font-family-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: black;
    height: 100%;
    #root {
        flex-grow: 1;
        @include Mixins.display-flex(column);
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
