// ################## Variables.scss ##################
// ########## BREAKPOINTS ##########
$breakpoint-mobile: 640px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
// ########## SPACING ##########
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;
// ########## FONT ##########
$font-size-small: 12pt;
$font-size-medium: 24pt;
$font-size-large: 48pt;
// ########## OTHER ##########
$border-radius: 10px;
