// ################## Variables.scss ##################
// ########## BREAKPOINTS ##########
$breakpoint-mobile: 640px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-desktop-large: 1920px;
// ########## SPACING ##########
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;
// ########## FONT ##########
$font-size-small: 12pt;
$font-size-medium: 20pt;
$font-size-large: 48pt;

$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
// ########## OTHER ##########
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 20px;
